.bg-custom {
    background-image: url('/img/hero-bg.jpg');
}

.bg-gredient {
    background: linear-gradient(90deg, #240cf2, #00a9b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-image-card-grid {
    background-image: url('/img/05.jpg');
    background-size: cover;
    background-position: center;
}

.before-after::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    background: #f6f3fe;
    border-radius: 1rem;
    z-index: -1;
}

.after-before-foot::after {
    content: "";
    z-index: 1;
    background: #f6f3fea1;
    border-radius: 1rem;
    width: 70%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    right: 0;
    border-radius: 2px;
}

.after-before-foot::before {
    content: "";
    z-index: 1;
    background: #ffffff;
    border-radius: 1rem;
    width: 25%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    border-radius: 2px;
}

.mike-absoute {
    position: absolute;
    top: 20%;
    left: 20px;
}
.mike-absoute::before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    width: 232px;
    height: 232px;
    background: linear-gradient(180deg, #66a6ff80 -128.88%, #fff0 83.84%);
    border-radius: 50%;
    top: 83%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.energy-shape {
    position: absolute;
    right: 40px;
    top: 15%;
}
.bg-about-bradcomb{
    background-image: url('/img/breadcrumb.jpg');
}
.section-3-bg-about{
    background-image: url('/img/cta-counter-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    overflow: hidden;
}
.section-3-bg-about::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #f6f3fe;
    top: 60%;
    z-index:-1;
}

@media (max-width: 768px) {
    .mike-absoute {
        position: static;
        margin: 0 auto;
        display: block;
        transform: none;
    }
    .mike-absoute::before {
        display: none;
    }
    .energy-shape {
        display: none;
    }
    .before-after:before{
        width: 100%;
    }
}